@import "reset.scss";

body{
    background: url("../img/bg.jpg") center center/cover no-repeat;
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
}

.big-text{
    font-size: 6rem;
    font-family: monospace;
    font-weight: 700;
}

.countdown{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__title{
        font-size: 4rem;
    }
    &__container{
        margin-top: 6rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__element{
        padding: 1rem;
        background-color: rgba($color: #ffffff, $alpha: .3);
        border-radius: 1rem;
        text-align: center;
        margin: 0 2rem 1rem;
    }
}

@media screen and (max-width:480px) {
    html{
        font-size: 0.6em;
    }
}

@media screen and (max-width:320px) {
    .countdown__title{
        font-size: 3rem;
    }
}
